# Back Slash
It doesnt terminate the line.... it continues to other line .

In [3]:
print("Hello \
Python")

Hello Python

# Triple Quotes
#### IT CAN PRINT MULTIPLE LINE STATEMENTS .... It is also use as an doc string.

In [6]:
print("""My  name is Akshay
Lets  Have some  fun In  our
life """)

My  name is Akshay
Lets  Have some  fun In  our
life

# String inside the quotes

In [7]:
print("Hello 'my name is Akshay'!!!! u Can ask any question to me ")

Hello 'my name is Akshay'!!!! u Can ask any question to me

# Escape Character
 Its is nothing but the character called \n which can change the line .

In [35]:
print("hello\nPython")

hello
Python

In [1]:
print('hello\tpython') #\t is an tab character

hello	python

# Formatted output

In [3]:
name='akshay'
marks=98                                                        
age=20
print("My name is ",name,'i scored', marks ,'marks and My age is',age)

My name is  akshay i scored 98 marks and My age is 20

In [4]:
name='akshay'
marks=98
age=20
print("My name is %s i scored %s marks and My age is %s"%(name, marks, age))

My name is akshay i scored 98 marks and My age is 20

In [49]:
name='akshay'
marks=98
age=20
print(f"My name is {name} i scored {marks} marks and My age is {age}")

My name is akshay i scored 98 marks and My age is 20

__"THIS ARE THE WAYS WE CAN FORMAT THE UPCOMING OUTPUT..."__

# Python Variables and assignment Statements

In [11]:
a=20      #a is the variable in which we can assign int, float, string, various other Data types values.
a="akshay"
#variable name can be of any alphabet or name etc, but the keywords of python cannot be a variable... 
#this is the most important point that python programmer should note.
#we can also use underscore with the variable name.
_a=30.5

# Python Operators
1. Arithmetic operators
2. Comparison Operators
3. Assignment Operators
4. Bitwise Operators
5. Logical Operators
6. Membership Operators
7. identity Operators

### 1. Arithmetic Operators

In [12]:
a=20
b=40
print('addition is',a+b)  # addition
print('subtraction is',a-b)  # subtraction
print('division is',a/b)  # division
print('Multiplication is',a*b)  # Multiplication
print('floor division is' ,a//b) # floor division (it always gives the int value )
print('exponent is', a**b) # exponent 
print('modulo is', a%b)  # modulo ( it returns remainder of the following division)

addition is 60
subtraction is -20
division is 0.5
Multiplication is 800
floor division is 0
exponent is 10995116277760000000000000000000000000000000000000000
modulo is 20

### 2. Comparison operators

In [14]:
a=30
b=20
a==b

False

In [15]:
a>b

True

In [16]:
a<b

False

In [17]:
a!=b # ! is not equal symbol

True

In [18]:
a>=b

True

In [19]:
a<=b

False

### 3. Assignment Operators

In [21]:
a=50
b=30
a=b # variable b assigned the value to variable a so now a=30.
b=a # the new value of a which was 30 is assigned to variable b  so now b is also equals to 30.
print("The new value of a",a,"\nThe new value of b",b) # therefore we get a&b = 30.

The new value of a 30
The new value of b 30
30
 40

In [23]:
#Multiple assignment Operators
a,b =30, 40  # in  this a will get value as 30 and b will get value as 40
print(a)
print(b)

30
40

### 4. Bitwise Operators

In [29]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 

c = a & b;        # 12 = 0000 1100   # binary and
print("Line 1 - Value of c is ", c)

c = a | b;        # 61 = 0011 1101   # binary or
print("Line 2 - Value of c is ", c)

c = a ^ b;        # 49 = 0011 0001   # binary not
print("Line 3 - Value of c is ", c)

c = ~a;           # -61 = 1100 0011  # binary xor
print("Line 4 - Value of c is ", c)

c = a << 1;       # 120 = 0111 1000  # binary Left shift Operator
print("Line 5 - Value of c is ", c)

c = a >> 2;       # 15 = 0000 1111   # binary Right Shift Operator
print("Line 6 - Value of c is ", c)

Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61
Line 5 - Value of c is  120
Line 6 - Value of c is  15

### 5. Logical Operators

In [31]:
# It is just the concept of true or false.
a=20 
b=30
c=40
d=40
a==b and c==d       # and Operator

False

In [32]:
# or Operator
a=20 
b=30
c=40
d=40
a==b or c==d

True

In [34]:
# not Operator
a=20 
b=30
c=40
d=40
not(a==b and c==d)  
not(a==b or c==d)

True

### 6. Membership Operators
 1.__"THIS IS THE OPERATOR WE ONLY USE IN THE SEQUENCES CALLED LIST, TUPLE, SETS, DICTIONARY ,STRINGS"__ 

__"These Operators returns True or False"__
<br>
 Operators are:
1. in 
2. not in

In [36]:
L={1,2,3} # sets created with curly Brackets
print( 1 in L)  # in Operator

True

In [38]:
L=[1,2,3]  # List Created 
print(2 not in L) # not in Operator
print(4 not in L)

False
True

In [53]:
str= "LetsUpgradePython"
print("L" in str)
print("N" in str)
print("x" not in str)

True
False
True

### 7. Identity Operators
__1.id()__
<br>
The id() function returns a unique id for the specified object.
<br>
The id is assigned to the object when it is created.
<br>
All objects in Python has its own unique id.

__2. type()__
<br>
The Variable is identified by the built in function called type().
<br>
It returns the datatype of the Particular Variable.

In [44]:
a=20
print(id(a), type(a))

140711772988400 <class 'int'>

In [42]:
a=b=20
id(a)
id(b)

140711772988400

In [45]:
a="akshay"
print(type(a))
print(id(a))

<class 'str'>
3158476311792

In [46]:
a=30.5
print(type(a))
print(id(a))

<class 'float'>
3158475950352